Repository gdams/openjdk-infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: doc, Vagrant, pbTests, docker, ansible

Update README.md
  README.md
Labels: doc

Update main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Crontab/tasks/main.yml
Labels: ansible

github: add regex parsing bot for additonal labelling
  .github/regex_labeller.yml
  .github/workflows/labeler.yml
Labels: none

Test PR to see if Mac label is updated
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

github: add regex parsing bot for additonal labelling
  .github/regex_labeler.yml
  .github/workflows/labeler.yml
Labels: none

This change is to test if the regex bot detects this Mac change
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

test mac change
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

Update regex_labeler.yml
  .github/regex_labeler.yml
Labels: none

simple mac change
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

test mac change
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

test mac change
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

test mac change
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/MacOSX.yml
Labels: ansible

add jenkinsfile
  Jenkinsfile
Labels: none

add new solaris sparc machines
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Common/tasks/Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Nagios_Plugins/tasks/nagios_Solaris.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/adoptopenjdk_install/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/maven/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

add win playbook testing using WSL
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2013/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/cygwin/tasks/main.yml
Labels: ansible

enable VS
  .github/workflows/build_wsl.yml
Labels: none

enable VS
  .github/workflows/build_wsl.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2017/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/MSVS_2019/tasks/main.yml
Labels: ansible

try cygwin approach
  .github/workflows/build_wsl.yml
Labels: none

try with bash
  .github/workflows/build_wsl.yml
Labels: none

add skytap ppc64le linux machines
  ansible/inventory.yml
  ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/playbooks/AdoptOpenJDK_Windows_Playbook/roles/Get_Vendor_Files/tasks/main.yml
  ansible/plugins/inventory/adoptopenjdk_yaml.py
Labels: ansible

packer: use matrix to speed up builds
  .github/workflows/packer.yml
Labels: none

foo
  .github/workflows/build_test_containers.yml
Labels: none

bar
  .github/workflows/build_test_containers.yml
Labels: none

bar
  .github/workflows/build_test_containers.yml
Labels: none

bar
  .github/workflows/build_test_containers.yml
Labels: none

mac repro
  .github/workflows/test-macos-repro.yml
Labels: none

repro: use test sources matching JDK version tag
  .github/workflows/test-macos-repro.yml
Labels: none

repro: add arm64 vs intel matrix, sscanf diagnostic, curly-brace patch
  .github/workflows/test-macos-repro.yml
Labels: none

repro: fix diagnostic step, run test unpatched for clean comparison
  .github/workflows/test-macos-repro.yml
Labels: none

repro: add sscanf vs scan_token comparison and JDK patch
  .github/workflows/test-macos-repro.yml
  methodMatcher.patch
Labels: none

.github/labeler.yml:

# Config file used by .github/workflows/labeler.yml

# label_name:
#   - path/to/file_or_folder

doc:
    - docs/*
    - '**/*.md'
Vagrant:
    - ansible/pbTestScripts/*
    - ansible/pbTestScripts/**/*
    - ansible/Vagrantfile*
pbTests:
    - ansible/pbTestScripts/*
    - ansible/pbTestScripts/**/*
docker:
    - ansible/Dockerfile*
ansible:
    - ansible/playbooks/*
    - ansible/playbooks/**/*
    - ansible/plugins/*
    - ansible/plugins/**/*
    - ansible/inventory.yml
    - ansible/ansible.cfg
